html {
    height: 100%;
}
body {
    height: 100%;
    padding: 0;
    margin : 0;
    display: flex;
    flex-direction: column;
    background-color: $light-grey;
}
.page-content {
    flex: 1 0 auto;
}