// colors
$white: #FFF;

$light-black: #333;

$grey: #73788e;
$light-grey: #b3b7be;

$blue: #2849f2;
$dark-blue: #0f2097;
$light-blue: #3f77e1;

$light-red: #eb8060;

//
$border-radius-base: 16px;
$background-page: #d8dce3;