{% extends 'www/base.html.twig' %}

{% block content %}
    <div class="page-content page-home">
        <a href="{{ path('www_init_basket') }}" class="button button--primary button--rounded">
            Générer un basket
        </a>
    </div>
{% endblock %}